**CSI 4506 Introduction à l'Intelligence Artificielle** <br/>
*Devoir 1 : Préparation des Données*

# Identification

Nom : <br/>
Numéro d'étudiant :

# Analyse Exploratoire

## Importer les bibliothèques importantes

In [1]:
# Votre code ici
import pandas as pd
import numpy as np

## Lire un de données

Comme indiqué dans la description du devoir, il doit être possible pour les correcteurs d'exécuter votre notebook sans nécessiter de téléchargements.

Pour faciliter l'accès à l'ensemble de données sans nécessiter de téléchargements, utilisez les données fournies dans le dépôt public GitHub et fournissez un lien vers la version brute de l'ensemble de données.

Le lien vers la version brute est le suivant :

*https://raw.githubusercontent.com/NOM_UTILISATEUR_GITHUB/NOM_DÉPÔT/main/NOM_JEU_DONNÉES.csv*

Par exemple :

[https://github.com/turcotte/csi4106-f24/blob/main/assignments-data/a1/01/glass.csv](https://github.com/turcotte/csi4106-f24/blob/main/assignments-data/a1/01/glass.csv)

Maintenant, fournissez le lien vers VOTRE ensemble de données et lisez-le :

In [2]:
url = "https://raw.githubusercontent.com/K-nCh-n/CSI4506/refs/heads/main/Devoir1/datasets/01/glass.csv" # fournissez le lien vers la version brute de l'ensemble de données. Vous devez fournir un lien vers votre propre dépôt GitHub. NE PAS utiliser le lien fourni en exemple.

dataset = pd.read_csv(url)
dataset.head()

   Id       RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type of glass
0   1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0              1
1   2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0              1
2   3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0              1
3   4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0              1
4   5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0              1

## Directives

Les questions suivantes sont pour le Devoir 1. Sous chaque question, nous avons fourni une cellule de code initiale. Vous êtes encouragés à ajouter des cellules de code supplémentaires pour maintenir une séparation logique de votre code. Par exemple, placez la définition d'une fonction dans une cellule et son exécution dans une cellule suivante. Cette approche aidera à préserver la clarté et à améliorer la lisibilité en évitant de placer trop de code dans une seule cellule.

1. **Analyse des valeurs manquantes** : Examinez les jeux de données pour identifier et évaluer les valeurs manquantes dans divers attributs. Les valeurs manquantes peuvent être représentées par des symboles tels que '?', des chaînes vides ou d'autres substituts.

    1.1 Parmi les options listées, quels sont les jeux de données qui contiennent des valeurs manquantes ? Plus précisément, quel attribut ou quels attributs ont des valeurs manquantes ?

    1.2 Décrivez la méthodologie utilisée pour cette investigation, et fournissez le code correspondant.

    1.3 L'imputation des données consiste à remplacer les données manquantes ou incomplètes par des valeurs substituées pour préserver l'intégrité de l'ensemble de données en vue d'analyses ultérieures. Proposez des stratégies d'imputation pour chaque attribut avec des valeurs manquantes.

In [3]:
dataset_directories = ["01/glass.csv", "02/dermatology_database_1.csv", "03/Maternal%20Health%20Risk%20Data%20Set.csv", "04/car.data", "05/WineQT.csv", "06/16P.csv", "07/train.csv"]
for directory in dataset_directories:
    print(f"# Dataset: ${directory}")
    url = "https://raw.githubusercontent.com/K-nCh-n/CSI4506/refs/heads/main/Devoir1/datasets/" + directory
    df = pd.read_csv(url)
    print(df.info(), end='\n\n')

# Dataset: $01/glass.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             214 non-null    int64
 1   RI             214 non-null    float64
 2   Na             214 non-null    float64
 3   Mg             214 non-null    float64
 4   Al             214 non-null    float64
 5   Si             214 non-null    float64
 6   K              214 non-null    float64
 7   Ca             214 non-null    float64
 8   Ba             214 non-null    float64
 9   Fe             214 non-null    float64
 10  Type of glass  214 non-null    int64
dtypes: float64(9), int64(2)
memory usage: 18.5 KB
None

# Dataset: $02/dermatology_database_1.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 35 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   erythema                             366 non-null    int64
 1   scaling                              366 non-null    int64
 2   definite_borders                     366 non-null    int64
 3   itching                              366 non-null    int64
 4   koebner_phenomenon                   366 non-null    int64
 5   polygonal_papules                    366 non-null    int64
 6   follicular_papules                   366 non-null    int64
 7   oral_mucosal_involvement             366 non-null    int64
 8   knee_and_elbow_involvement           366 non-null    int64
 9   scalp_involvement                    366 non-null    int64
 10  family_history                       366 non-null    int64
 11  melanin_incontinence                 366 non-null    int64
 12  eosinophils_infiltrate               366 non-null    int64
 13  PNL_infiltrate                       366 non-null    int64
 14  fibrosis_papillary_dermis            366 non-null    int64
 15  exocytosis                           366 non-null    int64
 16  acanthosis                           366 non-null    int64
 17  hyperkeratosis                       366 non-null    int64
 18  parakeratosis                        366 non-null    int64
 19  clubbing_rete_ridges                 366 non-null    int64
 20  elongation_rete_ridges               366 non-null    int64
 21  thinning_suprapapillary_epidermis    366 non-null    int64
 22  spongiform_pustule                   366 non-null    int64
 23  munro_microabcess                    366 non-null    int64
 24  focal_hypergranulosis                366 non-null    int64
 25  disappearance_granular_layer         366 non-null    int64
 26  vacuolisation_damage_basal_layer     366 non-null    int64
 27  spongiosis                           366 non-null    int64
 28  saw_tooth_appearance_retes           366 non-null    int64
 29  follicular_horn_plug                 366 non-null    int64
 30  perifollicular_parakeratosis         366 non-null    int64
 31  inflammatory_mononuclear_infiltrate  366 non-null    int64
 32  band_like_infiltrate                 366 non-null    int64
 33  age                                  366 non-null    object
 34  class                                366 non-null    int64
dtypes: int64(34), object(1)
memory usage: 100.2+ KB
None

# Dataset: $03/Maternal%20Health%20Risk%20Data%20Set.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014 entries, 0 to 1013
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          1014 non-null   int64
 1   SystolicBP   1014 non-null   int64
 2   DiastolicBP  1014 non-null   int64
 3   BS           1014 non-null   float64
 4   BodyTemp     1014 non-null   float64
 5   HeartRate    1014 non-null   int64
 6   RiskLevel    1014 non-null   object
dtypes: float64(2), int64(4), object(1)
memory usage: 55.6+ KB
None

# Dataset: $04/car.data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   vhigh    1727 non-null   object
 1   vhigh.1  1727 non-null   object
 2   2        1727 non-null   object
 3   2.1      1727 non-null   object
 4   small    1727 non-null   object
 5   low      1727 non-null   object
 6   unacc    1727 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB
None

# Dataset: $05/WineQT.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1143 non-null   float64
 1   volatile acidity      1143 non-null   float64
 2   citric acid           1143 non-null   float64
 3   residual sugar        1143 non-null   float64
 4   chlorides             1143 non-null   float64
 5   free sulfur dioxide   1143 non-null   float64
 6   total sulfur dioxide  1143 non-null   float64
 7   density               1143 non-null   float64
 8   pH                    1143 non-null   float64
 9   sulphates             1143 non-null   float64
 10  alcohol               1143 non-null   float64
 11  quality               1143 non-null   int64
 12  Id                    1143 non-null   int64
dtypes: float64(11), int64(2)
memory usage: 116.2 KB
None

# Dataset: $06/16P.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59999 entries, 0 to 59998
Data columns (total 62 columns):
 #   Column                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                --------------  -----
 0   Response Id                                                                                                           59999 non-null  int64
 1   You regularly make new friends.                                                                                       59999 non-null  int64
 2   You spend a lot of your free time exploring various random topics that pique your interest                            59999 non-null  int64
 3   Seeing other people cry can easily make you feel like you want to cry too                                             59999 non-null  int64
 4   You often make a backup plan for a backup plan.                                                                       59999 non-null  int64
 5   You usually stay calm, even under a lot of pressure                                                                   59999 non-null  int64
 6   At social events, you rarely try to introduce yourself to new people and mostly talk to the ones you already know     59999 non-null  int64
 7   You prefer to completely finish one project before starting another.                                                  59999 non-null  int64
 8   You are very sentimental.                                                                                             59999 non-null  int64
 9   You like to use organizing tools like schedules and lists.                                                            59999 non-null  int64
 10  Even a small mistake can cause you to doubt your overall abilities and knowledge.                                     59999 non-null  int64
 11  You feel comfortable just walking up to someone you find interesting and striking up a conversation.                  59999 non-null  int64
 12  You are not too interested in discussing various interpretations and analyses of creative works.                      59999 non-null  int64
 13  You are more inclined to follow your head than your heart.                                                            59999 non-null  int64
 14  You usually prefer just doing what you feel like at any given moment instead of planning a particular daily routine.  59999 non-null  int64
 15  You rarely worry about whether you make a good impression on people you meet.                                         59999 non-null  int64
 16  You enjoy participating in group activities.                                                                          59999 non-null  int64
 17  You like books and movies that make you come up with your own interpretation of the ending.                           59999 non-null  int64
 18  Your happiness comes more from helping others accomplish things than your own accomplishments.                        59999 non-null  int64
 19  You are interested in so many things that you find it difficult to choose what to try next.                           59999 non-null  int64
 20  You are prone to worrying that things will take a turn for the worse.                                                 59999 non-null  int64
 21  You avoid leadership roles in group settings.                                                                         59999 non-null  int64
 22  You are definitely not an artistic type of person.                                                                    59999 non-null  int64
 23  You think the world would be a better place if people relied more on rationality and less on their feelings.          59999 non-null  int64
 24  You prefer to do your chores before allowing yourself to relax.                                                       59999 non-null  int64
 25  You enjoy watching people argue.                                                                                      59999 non-null  int64
 26  You tend to avoid drawing attention to yourself.                                                                      59999 non-null  int64
 27  Your mood can change very quickly.                                                                                    59999 non-null  int64
 28  You lose patience with people who are not as efficient as you.                                                        59999 non-null  int64
 29  You often end up doing things at the last possible moment.                                                            59999 non-null  int64
 30  You have always been fascinated by the question of what, if anything, happens after death.                            59999 non-null  int64
 31  You usually prefer to be around others rather than on your own.                                                       59999 non-null  int64
 32  You become bored or lose interest when the discussion gets highly theoretical.                                        59999 non-null  int64
 33  You find it easy to empathize with a person whose experiences are very different from yours.                          59999 non-null  int64
 34  You usually postpone finalizing decisions for as long as possible.                                                    59999 non-null  int64
 35  You rarely second-guess the choices that you have made.                                                               59999 non-null  int64
 36  After a long and exhausting week, a lively social event is just what you need.                                        59999 non-null  int64
 37  You enjoy going to art museums.                                                                                       59999 non-null  int64
 38  You often have a hard time understanding other people's feelings.                                                     59999 non-null  int64
 39  You like to have a to-do list for each day.                                                                           59999 non-null  int64
 40  You rarely feel insecure.                                                                                             59999 non-null  int64
 41  You avoid making phone calls.                                                                                         59999 non-null  int64
 42  You often spend a lot of time trying to understand views that are very different from your own.                       59999 non-null  int64
 43  In your social circle, you are often the one who contacts your friends and initiates activities.                      59999 non-null  int64
 44  If your plans are interrupted, your top priority is to get back on track as soon as possible.                         59999 non-null  int64
 45  You are still bothered by mistakes that you made a long time ago.                                                     59999 non-null  int64
 46  You rarely contemplate the reasons for human existence or the meaning of life.                                        59999 non-null  int64
 47  Your emotions control you more than you control them.                                                                 59999 non-null  int64
 48  You take great care not to make people look bad, even when it is completely their fault.                              59999 non-null  int64
 49  Your personal work style is closer to spontaneous bursts of energy than organized and consistent efforts.             59999 non-null  int64
 50  When someone thinks highly of you, you wonder how long it will take them to feel disappointed in you.                 59999 non-null  int64
 51  You would love a job that requires you to work alone most of the time.                                                59999 non-null  int64
 52  You believe that pondering abstract philosophical questions is a waste of time.                                       59999 non-null  int64
 53  You feel more drawn to places with busy, bustling atmospheres than quiet, intimate places.                            59999 non-null  int64
 54  You know at first glance how someone is feeling.                                                                      59999 non-null  int64
 55  You often feel overwhelmed.                                                                                           59999 non-null  int64
 56  You complete things methodically without skipping over any steps.                                                     59999 non-null  int64
 57  You are very intrigued by things labeled as controversial.                                                            59999 non-null  int64
 58  You would pass along a good opportunity if you thought someone else needed it more.                                   59999 non-null  int64
 59  You struggle with deadlines.                                                                                          59999 non-null  int64
 60  You feel confident that things will work out for you.                                                                 59999 non-null  int64
 61  Personality                                                                                                           59999 non-null  object
dtypes: int64(61), object(1)
memory usage: 28.4+ MB
None

# Dataset: $07/train.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB
None

/tmp/ipykernel_176429/2549888646.py:5: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [4]:
placeholders = ['?', '', '_______', "#F%$D@*&8"]
def find_missing_values(url):
    df = pd.read_csv(url)
    df.replace(placeholders, np.nan, inplace=True)
    missing_values = df.isnull().sum()
    if missing_values.any():
        return missing_values[missing_values > 0]
    else: 
        return "No missing values in dataset"

In [5]:
for directory in dataset_directories:
    print(f"# Dataset: ${directory}")
    url = "https://raw.githubusercontent.com/K-nCh-n/CSI4506/refs/heads/main/Devoir1/datasets/" + directory
    print(find_missing_values(url), end="\n\n")

# Dataset: $01/glass.csv
No missing values in dataset

# Dataset: $02/dermatology_database_1.csv
age    8
dtype: int64

# Dataset: $03/Maternal%20Health%20Risk%20Data%20Set.csv
No missing values in dataset

# Dataset: $04/car.data
No missing values in dataset

# Dataset: $05/WineQT.csv
No missing values in dataset

# Dataset: $06/16P.csv
No missing values in dataset

# Dataset: $07/train.csv

/tmp/ipykernel_176429/3064753995.py:3: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

Name                        9985
SSN                         5572
Occupation                  7062
Monthly_Inhand_Salary      15002
Type_of_Loan               11408
Num_of_Delayed_Payment      7002
Num_Credit_Inquiries        1965
Credit_History_Age          9030
Amount_invested_monthly     4479
Monthly_Balance             1200
dtype: int64

### Methodology.

#### Code 

> To investigate which attributes have missing values in the dataset, we create a function `find_missing_values` that will perform the following:
> - We define a list of placeholders that are used in the datasets.
> - We first replace missing values placeholders with `np.nan`. 
> - We use `df.isnull().sum()` to find how many missing values there are in each column. `df.isnull()` gives us a dataframe with the same shape, with `True` for missing values and `False` otherwise.
> - We can then return appropriate columns (contain missing values).

#### Dataset Sources

Furthermore, if we go to the source of each dataset, we can find a description for each of them. This usually includes if the set contains missing values as well as the placeholder used. 
For instance, we find:

> ##### 1. Glass Identification Data Set
> 
> Missing Attribute Values: None
> 
> ##### 2. Dermatology Dataset (Multi-class classification)
> 
> Missing Attribute Values: 8 (in Age attribute). Distinguished with '?'.
> 
> ##### 3. Maternal Health Risk
> 
> Has Missing Values? No
> 
> ##### 4. Car Evaluation
> 
> Has Missing Values? No
> 
> ##### 5. Wine Quality Dataset
> 
> Not found
> 
> ##### 6. Personality classification Data: 16 Personalities
> 
> Not found
> 
> ##### 7. Credit score classification
> 
> Not found.
> - Name -> 'null'
> - SSN -> '#F%$D@*&8'
> - Occupation -> '_______'

### Imputation Strategies

We use the following imputation strategies for each attribute:

2. **Sélectionnez et familiarisez-vous avec une tâche de classification :** Choisissez l'un des jeux de données fournis pour une exploration plus approfondie. Il est conseillé de sélectionner un jeu de données contenant un nombre suffisamment important d'exemples, idéalement environ 1 000, pour garantir des résultats robustes lors de l'application des algorithmes d'apprentissage automatique dans le devoir suivant.

    2.1 Quel est l'objectif de la tâche ? Est-elle destinée à une application spécifique ? Possédez-vous une expertise dans ce domaine d'application particulier ?

In [6]:
# Votre code ici

3. **Analyse des attributs** : 

    3.1 Déterminez quels attributs manquent d'informativité et devraient être exclus pour améliorer l'efficacité de l'analyse d'apprentissage automatique. Si toutes les caractéristiques sont jugées pertinentes, indiquez explicitement cette conclusion.

    3.2 Examinez la distribution de chaque attribut (colonne) au sein de l'ensemble de données. Utilisez des histogrammes ou des boxplots pour visualiser les distributions, en identifiant les motifs sous-jacents ou les valeurs aberrantes.

In [7]:
# Votre code ici

4. **Analyse de la distribution des classes** : Examinez la distribution des étiquettes de classe au sein jeu de données. Utilisez des diagrammes en barres pour visualiser la fréquence des instances pour chaque classe et évaluez si l'ensemble de données est équilibré ou déséquilibré.

In [8]:
# Votre code ici

5. **Prétraitement** : 

    5.1 Pour les attributs numériques, déterminez la meilleure transformation à utiliser. Indiquez la transformation qui semble appropriée et pourquoi. Incluez le code illustrant comment appliquer la transformation. Pour au moins un attribut, montrez la distribution avant et après la transformation. Voir [Prétraitement des données](https://scikit-learn.org/stable/modules/preprocessing.html).

    5.2 Pour les attributs catégoriels, montrez comment appliquer [l'encodage one-hot](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html). Si votre ensemble de données ne contient pas de données catégorielles, montrez comment appliquer l'encodeur one-hot à l'étiquette (variable cible).

In [9]:
# Votre code ici

6. **Données d'entraînement et cible** : Définissez la variable Python `X` pour désigner les données et `y` pour désigner la classe cible. Assurez-vous de sélectionner uniquement les caractéristiques informatives.

In [10]:
# Votre code ici

7. **Ensembles d'entraînement et de test** : Divisez l'ensemble de données en ensembles d'entraînement et de test. Réservez 20 % des données pour les tests.

In [11]:
# Votre code ici

--------------------------------------------------------------------------

# Références

Assurez-vous de fournir des références à TOUTES les sources utilisées (articles, code, algorithmes).

## Transcription AI
**Indice :** Pour partager un lien vers votre notebook Colab, cliquez sur "share" en haut à droite. Ensuite, sous *Accès général*, changez *Restreint* en "Toute personne avec le lien".